###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
!/vendor/lcobucci/
###< symfony/framework-bundle ###
src/.DS_Store
migrations/Version20240422104932.php
migrations/Version20240422113353.php
migrations/Version20240423084541.php
migrations/Version20240423084924.php
migrations/Version20240423090522.php
migrations/Version20240423101512.php
migrations/Version20240424063205.php
migrations/Version20240424074711.php
.env
.DS_Store
